.App {
  text-align: center;
}
* {
  background-color: #282c34;
  color: white;
}

/*Home*/
.navbar {
  display: flex;
  justify-content: center;
  width: 100%;
}

a {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  margin: 40px;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

.ship {
  list-style-type: none;
  width: 20%;
  border: 1px solid white;
  border-radius: 15px;
  margin: 20px;
}

.list {
  display: flex;
  flex-wrap: wrap;
  font-size: 1.5rem;
  justify-content: center;
}

.home {
  display: flex;
  width: 100%;
  text-align: center;
}

.main-home {
  display: flex;
  align-content: center;
  justify-content: center;
}

.main-home article {
  width: 50%;
  font-size: 1.5rem;
}

/*Form creacion de nave*/
main-form {
  text-align: center;
}

.create-ship-form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}

div-label {
  display: flex;
  flex-direction: column;
}

.create-ship-form .input {
  width: 40%;
  margin: 50px;
  background-color: none;
  border: none;
  font-size: 1.5rem;
  border-bottom: 1px solid white;
  transition: all ease 1s;
  padding: 10px;
}

.create-ship-form button {
  width: 30%;
  border: 1px solid white;
  font-size: 1.2rem;
  height: 50px;
  border-radius: 10px;
}

.create-ship-form button:hover {
  background-color: rgb(219, 74, 74);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/*Form filtrar naves*/
.input-filter {
  margin: 20px;
  font-size: 1.5rem;
  border: none;
  border-bottom: 1px solid white;
  padding: 10px;
}

.filter-button {
  border: 1px solid white;
  font-size: 1.3rem;
  padding: 10px;
}

.filter-button:hover {
  background-color: rgb(219, 74, 74);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
